<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Welcome to BioAI-Lab</title>
    <!-- favicons Icons -->

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">

    <link
            href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet">

    <link rel="stylesheet" href="../static/assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="../static/assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="../static/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="../static/assets/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="../static/assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/meciy-icons/style.css">
    <link rel="stylesheet" href="../static/assets/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="../static/assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="../static/assets/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="../static/assets/vendors/timepicker/timePicker.css" />
    <link rel="stylesheet"  href="../static/assets/vendors/nice-select/nice-select.css" />


    <!-- template styles -->
    <link rel="stylesheet" href="../static/assets/css/meciy.css" />
    <link rel="stylesheet" href="../static/assets/css/meciy-responsive.css" />
    <script>
        function clearDefault(el){
            if (el.defaultValue==el.value)el.value=""
        }
    </script>
</head>

<body>



<!-- preloader -->
<div class="loader-wrap">
    <div class="preloader">
        <div id="handle-preloader" class="handle-preloader">
            <div class="layer layer-one"><span class="overlay"></span></div>
            <div class="layer layer-two"><span class="overlay"></span></div>
            <div class="layer layer-three"><span class="overlay"></span></div>
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                         <span data-text-preloader="B" class="letters-loading">
                            B
                        </span>
                    <span data-text-preloader="i" class="letters-loading">
                            i
                        </span>
                    <span data-text-preloader="o" class="letters-loading">
                            o
                        </span>
                    <span data-text-preloader="A" class="letters-loading">
                            A
                        </span>
                    <span data-text-preloader="I" class="letters-loading">
                            I
                        </span>
                    <span data-text-preloader="&minus;" class="letters-loading">
                            &minus;
                        </span>
                    <span data-text-preloader="L" class="letters-loading">
                            L
                        </span>
                    <span data-text-preloader="a" class="letters-loading">
                            a
                        </span>
                    <span data-text-preloader="b" class="letters-loading">
                            b
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- preloader end -->


<div class="page-wrapper">
    <header class="main-header-two">
        <div class="main-header-two__top">
            <div class="main-header-two__top-wrapper">
                <div class="main-header-two__top-inner">
                    <p class="main-header-two__top-text">Welcome To BioAi&minus;Lab</p>
                    <ul class="list-unstyled main-header-two__contact-list">
                        <li>
                            <div class="icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="text">
                                <p><a href="mailto:inform@company.com">zhangzilong@hainanu.edu.cn</a></p>
                                <p><a href="mailto:inform@company.com">feifeicui@hainanu.edu.cn</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="text">
                                <p>Hainan University, Haikou, Hainan Province, China</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <nav class="main-menu main-menu-two">
                <div class="main-menu-two__wrapper">
                    <div class="main-menu-two__wrapper-inner">
                        <div class="main-menu-two__logo">
                            <a href="BioAI_Lab"><img src="../static/assets/images/resources/log-3.png" alt=""></a>
                        </div>
                        <div class="main-menu-two__main-menu-box">
                            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                            <ul class="main-menu__list">
                                <li>
                                    <a href="BioAI_Lab">Lab Home
                                        <span class="main-menu-border"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="Services">Home
                                        <span class="main-menu-border"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="Service1">Server
                                        <span class="main-menu-border"></span>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">DataSet
                                        <span class="main-menu-border"></span>
                                    </a>
                                      <ul>
                                        <li><a href="/Services/download/MD_benchmark">AntiTb_MD_Benchmark</a></li>
                                        <li><a href="/Services/download/RD_benchmark">AntiTb_RD_Benchmark</a></li>
                                        <li><a href="/Services/download/MD_Ind">AntiTb_MD_Independent</a></li>
                                        <li><a href="/Services/download/RD_Ind">AntiTb_RD_Independent</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Contact">Contact
                                        <span class="main-menu-border"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="main-menu-two__right">
                            <div class="main-menu-two__search-call">
                                <div class="main-menu-two__call">
                                    <div class="main-menu-two__call-content">
                                        <a href="BioAI_Lab"><img src="../static/assets/images/resources/log-3.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
    </header>

    <div class="stricky-header stricked-menu main-menu main-menu-two">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div>


    <!--Page Header Start-->
    <section class="page-header">
        <div class="page-header-bg_server" style="background-image: url(../static/assets/images/services/Framework.png)">
        </div>
        <div class="container-fluid">
            <div class="page-header__inner_server">
                <h2><i>Hyb_SEnc</i>: An Antituberculosis Peptide Predictor Based on Hybrid Feature Vector and Stacked Ensemble Learning
                    Abstract</h2>
            </div>
        </div>
    </section>
    <!--Page Header End-->
    <section class="why-choose-three">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="why-choose-one__left">
                        <div class="section-title text-left">
                            <div class="services-img">
                                <img src="../static/assets/images/services/Framework1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <h2 class="section-title__title1" style="text-align: center;color: var(--meciy-primary)">Input</h2>
                    <br>
                    <div class="contact-box">
                        <div class="row justify-content-center">
                            <div class="col-xl-11">
                                <p class="footer-widget__appointment-sub-title">A Brief Tutorial</p>
                                <h5 class="footer-widget__appointment-title">1).Type or paste FASTA format protein sequences in the box.<b>Note: The number of input sequences does not exceed 2000.</b><br>
                                    2).Select the classifier you want to use.(Hyb_SEnc_MD or Hyb_SEnc_RD)<br>
                                    3).Click Submit and results will be shown in the next box.<br>
                                </h5>
                                <form action="/Services/submit"
                                      id="input"
                                      method="POST"
                                      class="footer-widget__appointment-form contact-form-validated"
                                      novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-6 col-md-6">
                                            <select class="my_select" name="classifier">
                                                <option>Select the classifier</option>
                                                <option>Hyb_SEnc_MD</option>
                                                <option>Hyb_SEnc_RD</option>
                                            </select>
                                        </div>
                                        <div class=" mt-lg-5">
                                                    <a  id="add_example" class="thm-btn  btn-contact-green" onclick="add_example()">Example Sequence</a>
                                            <a  class="thm-btn  btn-contact-green2" onclick="addfasta()">UPLOAD</a>
                                                   <input type="file" id="fasta" style="display: none" onchange="addfasta_file()">
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="home-contact-input">
                                                <p id="input_text" align="left">
                                                <textarea name="sequence" id="textbyid"  rows="11" onfocus="this.value=";this.onfocus=null;" >
                                                </textarea>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" mt-lg-5">
                                        <a href="javascript:void(0);" id="submitbutton" class="thm-btn  btn-contact-green" onclick="check()">Submit</a>
                                        <a id="resetbyid" class="thm-btn   btn-contact-green2" name="Clear" type="reset" onclick="clearVal()">Clearn</a>
                                    </div>
                                </form>
                                 <div class="result"></div>
                            </div>
                        </div>
                    </div>
                    <h2 class="section-title__title1" style="text-align: center;color: var(--meciy-primary)">Prediction results</h2>
                    <br>
                    <div class="contact-box">
                        <div class="row justify-content-center">
                            <div class="col-xl-11">
                                <form action="result.html"
                                      id="output"
                                      method="GET"
                                      class="footer-widget__appointment-form contact-form-validated"
                                      novalidate="novalidate">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="home-contact-input">
                                            <textarea id="output_text" placeholder="Predicting" rows="6"></textarea>
                                        </div>
                                    </div>
                                </div>
                                </form>
                                <div class="result"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <h2 class="section-title__title1" style="text-align: center;color: var(--meciy-primary)">Download Dataset</h2>
                    <div class="services-details__sidebar-single services-details__sidebar-download">
                        <ul class="services-details__sidebar-download-list list-unstyled">
                            <li>
                                <a href='/Services/download/MD_benchmark'>Download AntiTb_MD_Benchmark<span class="icon-file"></span></a>
                            </li>
                            <li>
                                <a href="/Services/download/RD_benchmark">Download AntiTb_RD_Benchmark<span
                                        class="icon-download-pdf"></span></a>
                            </li>
                            <li>
                                <a href="/Services/download/MD_Ind">Download AntiTb_MD_Independent<span class="icon-file"></span></a>
                            </li>
                            <li>
                                <a href="/Services/download/RD_Ind">Download AntiTb_RD_Independent<span
                                        class="icon-download-pdf"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!--Site Footer Start-->
    <footer class="site-footer">
        <div class="container">
            <div class="site-footer__top">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="footer-widget__column footer-widget__about">
                            <div class="footer-widget__logo">
                                <a href="BioAI_Lab"><img src="../static/assets/images/resources/logo-1.png" alt=""></a>
                            </div>
                            <p class="footer-widget__about-text">Welcome To BioAI&minus;Lab</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="footer-widget__column footer-widget__contact">
                            <div class="footer-widget__title-box">
                                <h4 class="footer-widget__title">Contact</h4>
                            </div>
                            <ul class="list-unstyled footer-widget__contact-list">
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <p><a href="mailto:needhelp@company.com ">zhangzilong@hainanu.edu.cn</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <p><a href="mailto:needhelp@company.com ">feifeicui@hainanu.edu.cn</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="text">
                                        <p>Room 304, School of Computer Science and Technology, Hainan University, Haikou City, Hainan Province, China</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site-footer__bottom-inner">
                            <p class="site-footer__bottom-text">BioAI&minus;Lab
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Site Footer End-->


</div>




<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


<script src="../static/assets/vendors/jquery/jquery-3.6.0.min.js"></script>
<script src="../static/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/vendors/jarallax/jarallax.min.js"></script>
<script src="../static/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
<script src="../static/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
<script src="../static/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
<script src="../static/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="../static/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
<script src="../static/assets/vendors/nouislider/nouislider.min.js"></script>
<script src="../static/assets/vendors/odometer/odometer.min.js"></script>
<script src="../static/assets/vendors/swiper/swiper.min.js"></script>
<script src="../static/assets/vendors/tiny-slider/tiny-slider.min.js"></script>
<script src="../static/assets/vendors/wnumb/wNumb.min.js"></script>
<script src="../static/assets/vendors/wow/wow.js"></script>
<script src="../static/assets/vendors/isotope/isotope.js"></script>
<script src="../static/assets/vendors/countdown/countdown.min.js"></script>
<script src="../static/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../static/assets/vendors/bxslider/jquery.bxslider.min.js"></script>
<script src="../static/assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../static/assets/vendors/vegas/vegas.min.js"></script>
<script src="../static/assets/vendors/jquery-ui/jquery-ui.js"></script>
<script src="../static/assets/vendors/timepicker/timePicker.js"></script>
<script src="../static/assets/vendors/circleType/jquery.circleType.js"></script>
<script src="../static/assets/vendors/circleType/jquery.lettering.min.js"></script>
<script src="../static/assets/vendors/sidebar-content/jquery-sidebar-content.js"></script>
<script src="../static/assets/vendors/tweenmax/TweenMax.min.js"></script>
<script src="../static/assets/vendors/nice-select/jquery.nice-select.min.js"></script>




<!-- template js -->
<script src="../static/assets/js/meciy.js"></script>
<script src="../static/assets/js/jquery-1.12.4.js"></script>
</body>

</html>